<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="color: deepskyblue; text-align: center;">Coches</h1>
    </div>
</div>

<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let item of coches">
        <h1 class="centrartitulo" style="color: crimson;">{{item.nombre}}</h1>
        <div class="card-body">
            <h3 class="centro" style="color: darkred;"> {{item.siglas}}</h3>
            
            <img [src]="item.imagen" class="card-img-top" alt="...">
                <ul style="background-color: darkgray;">
                    <li *ngFor="let caracteristicas of item.caracteristicas">{{caracteristicas}}</li>
                </ul>
                <img [src]="marcas   .imagen" *ngFor="let marcas of item.marcas" style="width: 100px; height: 100px;" >
                
                <button #elemento class="btn btn-primary btn-block" (click)="clickDetalles()" clstyle="background: black; color: red;">Ver detalle</button>
        </div>
    </div>
</div>
    