<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="color: deepskyblue;">Detalle Coches</h1>
    </div>
</div>

<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let item of coches">
        <h1 class="centro"> {{item.nombre}}</h1>
        <div class="card-body">
            <img [src]="coches.imagen" *ngFor="let coches of item.coches"class="card-img-top" alt="...">
              <a [routerLink]="['/cochesDet', item.mostrarDetalle()]" routerLinkActive="router-link-active" ]>Ver mas</a>  
        </div>
    </div>
</div>
